@charset "UTF-8";

/* ============================
* フォント、背景
* ========================= */
:root {
  /* 10px */
  --font-10: 0.625rem;
  /* 12px */
  --font-12: 0.75rem;
  /* 13px */
  --font-13: 0.8125rem;
  /* 14px */
  --font-14: 0.875rem;
  /* 16px */
  --font-16: 1rem;
  /* 18px */
  --font-18: 1.125rem;
  /* 20px */
  --font-20: 1.25rem;
  /* 24px */
  --font-24: 1.5rem;
  /* 28px */
  --font-28: 1.75rem;
  /* 32px */
  --font-32: 2rem;
  /* 36px */
  --font-36: 2.25rem;
  /* 40px */
  --font-40: 2.25rem;
  /* 46px */
  --font-46: 2.8755rem;
  /* 72px */
  --font-72: 4.5rem;
  /* 14.4px */
  --text-1: 0.9rem;

  /* 文字カラー */
  --font-black: #333;
  --font-white: #fff;
  --font-red: #ff2a3a;

  /* ラインカラー */
  --line-black: #333;
  --line-white: #fff;

  /* 背景色 */
  --bg-main: #e6e2d7;
  --bg-white: #fff;
  --bg-red: #ff2a3a;
  --bg-gray: #e8e8e8;

  /* ボタンカラー */
  --btn-color: #4b4b4b;
}

/* メディアクエリ */
/* @media screen and (max-width: 900px) {
} */

/* ============================
* 共通
* ========================= */
body {
  color: var(--font-black);
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  letter-spacing: 0.1em;
}

a {
  display: block;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

ol {
  list-style: none;
}

img {
  height: auto;
}

.hidden {
  display: none;
}

/* タイトル */
.sec__ttl {
  font-size: var(--font-36);
  line-height: 1.5;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 700;
  margin-bottom: 80px;
}

/* タイトル下線 */
.sec__ttl::after {
  position: absolute;
  content: "";
  background: var(--line-black);
  width: 100px;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* セクション幅 */
.sec__inner {
  max-width: 860px;
  margin: 0 auto;
  /* background: gray; */
}

@media screen and (max-width: 900px) {
  .sec__inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    /* background: gray; */
  }
}

/* ============================
* header
* ========================= */
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;
  padding-left: 50px;
}

@media screen and (max-width: 900px) {
  .header__inner {
    max-width: calc(100% - 75px);
    margin: 0 auto;
    padding: 0 16px;
    height: 81px;
    left: 0;
  }
}

/* ハンバーガメニュー */
.hidden-text {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

@media screen and (max-width: 900px) {
  .hamburger__wrapper {
    width: 100%;
  }
}

.hamburger {
  width: 100px;
  height: 100px;
  background: var(--bg-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  z-index: 1001;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .hamburger {
    width: 75px;
    height: 75px;
    /* right: 75px; */
  }
}

58 .hamburger:hover {
  opacity: 0.7;
}

.hamburger__line {
  margin: auto;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
  transition: transform 0.3s, opacity 0.3s;
  position: absolute;
}

.hamburger__line::before,
.hamburger__line::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

.hamburger__line::before {
  top: -14px;
}

.hamburger__line::after {
  top: 14px;
}

/* メニューオープン時のクラス */
.hamburger[aria-expanded="true"] .hamburger__line {
  background-color: transparent;
}

.hamburger[aria-expanded="true"] .hamburger__line::before,
.hamburger[aria-expanded="true"] .hamburger__line::after {
  top: 0;
  background-color: #f9d8ae;
}

.hamburger[aria-expanded="true"] .hamburger__line::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger[aria-expanded="true"] .hamburger__line::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-menu.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-red);
  z-index: 1000;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .menu-open .header-menu {
    padding-left: 0;
  }
}

.header-menu__list.open {
  transform: translateX(50px);
  transition: transform 0.5s ease;
}

/* メニューのスタイル */
.header-menu {
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 0.3s;
  padding-top: 36px;
  padding-left: 50px;
}

.header-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.header-menu__link {
  color: #fff;
  font-size: var(--font-16);
  line-height: 1.125;
  font-weight: 700;
}

.header-menu__link--trial {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 250px;
  padding: 15px 0;
  border: 1px solid var(--font-white);
  position: relative;
}

.header-menu__link--trial::after {
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--font-white);
  border-bottom: 1px solid var(--font-white);
  content: '';
}

.header-menu__link--trial:hover {
  color: var(--bg-red);
  background-color: var(--bg-white);
  transition: 0.5s;
}

/* ============================
*  main
* ========================= */
.main {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.main-visual {
  position: relative;
  width: 100%;
  height: 720px;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .main-visual {
    height: auto;
    position: static;
  }
}

.main-visual__img-wrapper {
  position: relative;
}

@media screen and (max-width: 900px) {
  .main-visual__img-wrapper {
    width: 100%;
    height: 300px;
  }
}

.main-visual__img {
  width: 75vw;
  height: 720px;
  position: absolute;
  top: 0;
  right: 0;
  background-position: center center;
  animation: image_anime 10s infinite ease;
  opacity: 0;
  box-shadow: inset 0 0 20px 20px #fff;
  object-fit: contain;
}

@media screen and (max-width: 900px) {
  .main-visual__img {
    width: 100%;
    height: 300px;
  }
}

.main-visual__img1 {
  background-image: url(../img/mainvisual1.jpg);
  animation-delay: 0s;
  /* background-position: 100%; */
}

.main-visual__img2 {
  background-image: url(../img/mainvisual2.jpg);
  animation-delay: 3s;
  /* background-position: 100%; */
}

.main-visual__img3 {
  background-image: url(../img/mainvisual3.jpg);
  animation-delay: 7s;
  /* background-position: 100%; */
}

@keyframes image_anime {

  0%,
  30%,
  100% {
    opacity: 0;
  }

  10%,
  20% {
    opacity: 1;
  }
}

.main__text {
  position: absolute;
  top: 280px;
  left: 10%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 900px) {
  .main__text {
    position: static;
  }
}

/* キャッチコピー */
.main__catchcopy {
  font-size: var(--font-46);
  line-height: 1.6;
  font-weight: 700;
  text-shadow: 0 4px 6px #fff;
}

/* 無料体験申し込みリンク */
.main__link {
  display: inline-block;
  color: var(--bg-white);
  font-size: var(--font-24);
  line-height: 1.167;
  background-color: var(--bg-red);
  box-shadow: 0 5px #7a051c;
  padding: 15px 128px;
  border-radius: 10px;
  position: relative;
}

.main__link::after {
  content: "";
  width: 16px;
  height: 16px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 18px;
  right: 30px;
}

.main__link:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

/* reason */
.reason__body {
  background-color: var(--bg-red);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  height: 600px;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .reason__body {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 40px;
  }
}

.reason__item {
  background-color: var(--bg-white);
  width: 50%;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 900px) {
  .reason__item {
    width: 100%;
    padding: 19px 20px;
  }
}

.reason__item:nth-child(2n + 1) {
  position: absolute;
  top: 80px;
  left: 0;
  border-radius: 0 20px 20px 0;
}

@media screen and (max-width: 900px) {
  .reason__item:nth-child(2n + 1) {
    top: 40px;
    left: -16px;
  }
}

.reason__item:nth-child(2n) {
  position: absolute;
  bottom: 80px;
  right: 0;
  border-radius: 20px 0 0 20px;
}

@media screen and (max-width: 900px) {
  .reason__item:nth-child(2n) {
    bottom: 40px;
    right: -16px;
  }
}

.reason__txt {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}

.reason__ttl {
  color: var(--font-red);
  font-size: var(--font-28);
  line-height: 1.143;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .reason__ttl {
    font-size: var(--font-24);
  }
}

.reason__desc {
  font-size: var(--font-18);
  line-height: 1.167;
}

/* スライドイン左 */
.js-slidein-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}

.js-slidein-left.active {
  opacity: 1;
  transform: translateX(0);
}

/* スライドイン右 */
.js-slidein-right {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}

.js-slidein-right.active {
  opacity: 1;
  transform: translateX(0);
}

/* student */
.student__body {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media screen and (max-width: 900px) {
  .student__body {
    width: 100%;
    padding: 0 16px;
  }
}

.student__item {
  display: flex;
  align-items: center;
  scale: 0;
}

@media screen and (max-width: 900px) {
  .student__item {
    flex-direction: column-reverse;
  }
}

.student__item:nth-child(2n + 1) {
  padding-right: 200px;
}

@media screen and (max-width: 900px) {
  .student__item:nth-child(2n + 1) {
    padding-right: 0;
  }
}

.student__item:nth-child(2n) {
  flex-direction: row-reverse;
  padding-left: 200px;
}

@media screen and (max-width: 900px) {
  .student__item:nth-child(2n) {
    flex-direction: column-reverse;
    padding-left: 0;
  }
}

.student__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.student__icon {
  background-color: #ccc;
  border-radius: 50%;
}

.student__name {
  font-size: var(--font-12);
  text-align: center;
  line-height: 1.167;
}

.student__desc {
  font-size: var(--font-16);
  line-height: 1.5;
}

.student__item .balloon {
  position: relative;
  display: inline-block;
  padding: 20px;
  /* min-width: 120px;
  max-width: 100%; */
  color: #555;
  font-size: 16px;
  background: #e9f1fb;
  /* left: 25px; */
  border-radius: 15px;
}

.student__item:nth-child(2n + 1) .balloon {
  left: 25px;
}

.student__item:nth-child(2n + 1) .balloon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e9f1fb;
}

.student__item:nth-child(2n) .balloon {
  right: 25px;
}

.student__item:nth-child(2n) .balloon::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e9f1fb;
}

/* ズームイン */
.js-zoom {
  scale: 0.3;
}

.js-zoom.active {
  opacity: 1;
  scale: 1;
  transition: 0.7s ease-in;
}

/* about */
.about__inner {
  background: url(../img/bg.gif);
  animation: bgiLoop 7s linear infinite;
  padding: 60px 0;
}

@keyframes bgiLoop {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -700px 700px;
  }
}

.about__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 40px;
}

@media screen and (max-width: 900px) {
  .about__body {
    display: flex;
    flex-direction: column;
  }
}

.about__item {
  max-width: 410px;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px;
  border-radius: 20px;
}


.about__item-ttl {
  font-size: var(--font-28);
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.about__item-ttl--en {
  display: block;
  font-size: var(--font-18);
  line-height: 1;
  margin-top: 15px;
}

.about__item-desc {
  font-size: var(--font-16);
  line-height: 1.5;
}

/* free trial */
.trial {
  padding-bottom: 120px;
}

.trial__desc {
  text-align: center;
  margin-bottom: 40px;
}

.trial__desc--bold {
  display: block;
  font-size: var(--font-32);
  font-weight: 700;
  line-height: 1.15625;
}

.trial__link {
  color: var(--font-white);
  font-size: var(--font-28);
  line-height: 1;
  font-weight: 700;
  background-color: var(--bg-red);
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border-radius: 1000px;
}

.trial__link:hover {
  color: var(--bg-red);
  background-color: var(--bg-white);
  outline: 3px solid var(--bg-red);
  outline-offset: -3px;
}

/* ============================
* footer
* ========================= */
.footer {
  width: 100%;
  background-color: var(--bg-gray);
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
  .footer-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 31px;
  }
}

.footer-menu__ttl {
  display: block;
  font-size: var(--font-16);
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-menu__list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footer-menu__link {
  color: var(--font-black);
  font-size: var(--font-14);
  padding-left: 1em;
}

.footer__copyright {
  display: block;
  font-size: var(--font-10);
  text-align: center;

}
